.page-header
  %h1
    Bentoboxes
    %small choose your ready-to-go box

%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Description
    %th
    %th
    %th


  - @bentoboxes.each do |bentobox|
    %tr
      %td= bentobox.name
      %td= bentobox.description
      %td=link_to "Vagrantconfig", bentobox_url(bentobox, params.merge(:format => :text)), :class => "btn btn-success"
      %td
        = link_to bentobox, class: "btn btn-info" do
          %i.icon-eye-open
          Show
      %td
        - if bentobox.user == current_user
          =link_to edit_user_bentobox_path(current_user, bentobox), class: "btn" do
            %i.icon-edit
            Edit
          =link_to bentobox, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" do
            %i.icon-remove
            Delete

%br

= link_to 'New Bentobox', new_user_bentobox_path(current_user), class: "btn btn-large btn-success"
