%p#notice= notice

%p
  %b Name:
  = @vagrantbox.name
%p
  %b File:
  =link_to @vagrantbox.box_filename, @vagrantbox.box.url

= link_to edit_vagrantbox_path(@vagrantbox) do
  %i.icon-edit
  Edit
\|
= link_to 'Back', vagrantboxes_path
