.page-header
  %h1 Users

%table{class: 'table table-striped'}
  %tr
    %th Name
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= link_to 'Show', user, class: "btn btn-info"

%br