%fieldset
  .control-group
    = f.label :mapping, class: "control-label"
    .controls
      = f.text_field :mapping, class: "input-small", :placeholder => "[guest port]:[host port]"
  .control-group
    .controls
      = f.hidden_field :_destroy
      = link_to '#', class: "remove_fields btn btn-small btn-danger" do
        %i.icon-trash
        Delete