.page-header
  %h1
    Welcome
    %small easily assemble your Vagrantconfig!

%p Latest bentobox:
= link_to bentobox_path(Bentobox.desc(:created).first)


%p Install the whole vagrantbox and config easily with the following copy/paste line:

%pre= "/usr/bin/ruby -e \"$(/usr/bin/curl -fsSL #{root_url}public/install_vagrantbox.rb)\""