.hero-unit.box
  %h1 Manage your Vagrantconfigs!
  %p
    %b
      %i.icon-chevron-right
      Bento (弁当 bentō) [ˈbɛntəʊ]
      %br/
      A thin box, made of plastic or lacquered wood, divided into compartments which contain small separate dishes comprising a meal or lunch
  %p Pack different ingredients, spices and a vagrant base box together to form a bentobox - <b>a complete Vagrantconfig file</b> ready to deploy!

.well
  %dl.dl-horizontal
    %dt Bentobox
    %dd Represents a Vagrantconfig file consisting of a base box, ingredients and spices
    %dt Ingredient
    %dd Ingredients are configurations, an ingredient can consist of several chef cookbooks, shared folders, portmappings and can have a network configuration intended for the virtual machine
    %dt Spice
    %dd Spices are additional global configuration options for the Vagrantconfig file, with this you can, f.e. adjust the amount of RAM of the virtual machine
    %dt Base Box
    %dd Base boxes are virtual machine images packed and uploaded for later use



%h2
  Download a bentobox!
  %small ready to use, just a <i>vagrant up</i> away!
%ul.thumbnails
  - Bentobox.recent(5).all.each do |bentobox|
    %li.span2
      = link_to bentobox_url(bentobox,  params.merge(:format => :text, :download => true)), :class => "thumbnail", title: "Download Vagrantconfig" do
        = image_tag 'vagrant_pack.png'
        .caption
          %h3= bentobox.name
          %p= bentobox.description
