%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml

= link_to 'users', users_path
= link_to 'bendoboxes', bentoboxes_path
= link_to 'ingredients', ingredients_path
= link_to 'vagrant boxes', vagrantboxes_path