.page-header
  %h1
    Welcome
    %small easily assemble your Vagrantconfig!

%blockquote
  %p Bento (弁当 bentō) [ˈbɛntəʊ] |
  A thin box, made of plastic or lacquered wood, divided into compartments which contain small separate dishes comprising a Japanese meal, esp lunch |


.row
  .span3
    = image_tag 'bento.jpg'
  .span9
    %p Similar to the japanese bento boxes, you can pack a vagrant base box and different ingredients together to form a bentobox - a complete Vagrantconfig file ready to use in conjunction with a chef-server.

    = link_to