.page-header
  %h1
    Categories
    %small ...for ingredients
    .pull-right
      = link_to new_category_path, class: "btn btn-large" do
        %i.icon-tag
        New Category


%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Actions

  - @categories.each do |category|
    %tr
      %td= category.name
      %td
        = link_to edit_category_path(category), class: "btn", title: "Edit" do
          %i.icon-edit
        = link_to category, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger", title: "Delete" do
          %i.icon-trash
